/*This was all taken from https://tympanus.net/Development/ButtonStylesInspiration/ but I needed to see it in CodePen
*/
/* @import url(https://fonts.googleapis.com/css?family=Raleway:200,300,400,500,600); */
/* @font-face {
	font-weight: normal;
	font-style: normal;
	font-family: 'codropsicons';
	src: url("../fonts/codropsicons/codropsicons.eot");
	src: url("../fonts/codropsicons/codropsicons.eot?#iefix") format("embedded-opentype"), url("../fonts/codropsicons/codropsicons.woff") format("woff"), url("../fonts/codropsicons/codropsicons.ttf") format("truetype"), url("../fonts/codropsicons/codropsicons.svg#codropsicons") format("svg");
} */
.dashboard-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw; /* 전체 너비 설정 */
}

.dashboard-header {
  display: flex;
  justify-content: flex-end;
  padding: 10px;
  position: fixed;
  top: 10px;
  right: 10px;
  z-index: 1000;
}

.logout-link {
  color: #5B86E5;
  cursor: pointer;
  font-size: 16px;
  text-decoration: none;
}

.dashboard-content {
  display: flex;
  flex: 1;
  width: 100%; /* 전체 너비 설정 */
  justify-content: space-between;
  padding-top: 40px; /* 로그아웃 링크의 높이만큼 패딩 추가 */
  position: relative; /* 수평선 추가를 위해 상대 위치 설정 */
}

.dashboard-content::after {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  width: 1px;
  height: 100%;
  background-color: #ccc; /* 수평선 색상 */
}

.feature {
  flex: 1; /* 전체 화면의 50%씩 차지하도록 설정 */
  padding: 20px;
  box-sizing: border-box;
  justify-content: center;
}

.feature1 {
  border-right: 0px solid #ccc; /* 가운데 회색 바 제거 */
}

.feature2 {
  border-left: 0px solid #ccc; /* 가운데 회색 바 제거 */
}

.feature h2 {
  text-align: center;
}


*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.button {
  float: left;
  min-width: 150px;
  max-width: 250px;
  display: block;
  margin: 1em;
  padding: 1em 2em;
  border: none;
  background: none;
  color: inherit;
  vertical-align: middle;
  position: relative;
  z-index: 1;
  -webkit-backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
}
.button:focus {
  outline: none;
}
.button > span {
  vertical-align: middle;
}

.button--size-s {
  font-size: 14px;
}

.button--text-upper {
  letter-spacing: 2px;
  text-transform: uppercase;
}
.button--text-thick {
  font-weight: 600;
}

.button--border-thick {
  border: 3px solid;
  border-radius: 30px;
}

.button--winona {
  overflow: hidden;
  padding: 0;
  -webkit-transition: border-color 0.3s, background-color 0.3s;
  transition: border-color 0.3s, background-color 0.3s;
  -webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
  transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
}
.button--winona::after {
  content: attr(data-text);
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  color: #3f51b5;
  -webkit-transform: translate3d(0, 25%, 0);
  transform: translate3d(0, 25%, 0);
}
.button--winona > span {
  display: block;
}
.button--winona.button--inverted {
  color: #7986cb;
}
.button--winona.button--inverted:after {
  color: #fff;
}
.button--winona::after,
.button--winona > span {
  padding: 1em 2em;
  -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
  transition: transform 0.3s, opacity 0.3s;
  -webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
  transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
}
.button--winona:hover {
  border-color: #3f51b5;
  background-color: rgba(63, 81, 181, 0.1);
}
.button--winona.button--inverted:hover {
  border-color: #21333c;
  background-color: #21333c;
}
.button--winona:hover::after {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.button--winona:hover > span {
  opacity: 0;
  -webkit-transform: translate3d(0, -25%, 0);
  transform: translate3d(0, -25%, 0);
}
